.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
